Source: logilab-aspects
Section: python
Priority: optional
Maintainer: Adrien Di Mascio <Adrien.DiMascio@logilab.fr> 
Uploaders: Alexandre Fayolle <afayolle@debian.org>
Build-Depends: debhelper (>= 5.0.0), python-dev
Standards-Version: 3.7.2

Package: python-logilab-aspects
Architecture: all
Depends: python, python-logilab-common
Provides: python2.2-logilab-aspects, python2.3-logilab-aspects, python2.4-logilab-aspects, python-logilab-aspects-test
Conflicts: python2.2-logilab-aspects, python2.3-logilab-aspects, python2.4-logilab-aspects, python-logilab-aspects-test
Replaces: python2.2-logilab-aspects, python2.3-logilab-aspects, python2.4-logilab-aspects, python-logilab-aspects-test
Description: aspect Programming with Python 
 aspects is a module that enables Aspect Oriented Programming with
 Python.  It also provides an implementation of 'Design By Contract'
 programming using aspects.
 .
 Homepage: http://www.logilab.org/projects/aspects/
